@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

<h2>
    @ViewBag.Title
</h2>
<ul class="pageMenu">
    <li>@Html.ActionLink("Manage Albums", "Index", null, "Class='active'")</li>
    <li>@Html.ActionLink("Manage Genres", "GenresMain")</li>
    <li>@Html.ActionLink("Manage Authors", "AuthorsMain")</li>
</ul>

@RenderBody()
